<div class="bg" >    
        <div class="bg-page1"></div>
        <div class="text">
            <div class="content">
                <div class="heading">Plan Your <br> Trip...</div>
                <div class="para">To the world of an incredible vacation.</div>
            </div>
            <a  class="button" routerLinkActive="active" routerLink="/login"
                style="text-decoration :none;border-radius:5px; color: rgb(255, 255, 255)"> Login To Book A Package -> </a>
        </div>
</div>
<footer class="footer  ">
    <div class="container">
        <span>**Created By Isha Jain&reg; </span>
    </div>
</footer>