<div class="bg">
    <div class="bg-page1"></div>
    <div class="text">
        <div class="content">
            <div class="heading">Plan Your <br> Trip...</div>
            <div class="para">To the world of an incredible vacation.</div>
        </div>
        <div class="bottom">
            <div class="part1">
                <a class="button" routerLinkActive="active" routerLink="/showAll"> Show Packages
                    -> </a>
                <a class=" button" routerLinkActive="active" routerLink="/add"> Add Packages -> </a>
            </div>
            <div class="part2">
                <a class="button" routerLinkActive="active" routerLink="/addActivity"> Add Activity
                    -> </a>
                <a class=" button" routerLinkActive="active" routerLink="/addInterest"> Add Area of Interest -> </a>
            </div>
        </div>       
    </div>
</div>
<footer class="footer  ">
    <div class="container">
        <span>**Created By Isha Jain&reg; </span>
    </div>
</footer>