<div class="box-form">
	<div class="left">
		<div class="overlay">
			<h1>Plan Your Trip.</h1>
			<p>To the world of an incredible vacation.</p>
		</div>
	</div>
	<div class="right">
		<h5>Login</h5> <br>

		<p>Don't have an account? <a routerLinkActive="active" routerLink="/register">Create Your Account </a>it
			takes less than a minute</p>

		<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
			<p style="color: red;">{{setErrorMessage()}}</p>
			<div class="inputs">
				<input type="email" placeholder="Enter Your E-mail" formControlName="email">
				<br>
				<span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" style="color: red;">
					<span *ngIf="loginForm.get('email').errors['required']">
						This field is required!
					</span>
					<span *ngIf="loginForm.get('email').errors['email']">
						Please enter valid email address!
					</span>
				</span><br>
				<input type="password" placeholder="password" formControlName="password">
				<br>
				<span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
					style="color: red;">
					<span *ngIf="loginForm.get('password').errors['required']">
						This field is required!
					</span>
					<span *ngIf="loginForm.get('password').errors['minLength']">
						Password must be 5 characters or more!
					</span>
				</span>
			</div>
			<br>

			<div class="forget-password">
				<p>forget password?</p>
			</div>
			<br>
			<button type="submit" [disabled]="loginForm.invalid"> Login </button>
		</form>
	</div>
</div>