section{
    padding: 2vmax 4vmax;
}
h3{
    text-align: center;
}
.card{
    margin:  1vmax 0;
}
.cards{
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.bottom{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.delete,.edit{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(../../assets/images/icons8-delete-30.png);
}
.edit{
    background-image: url(../../assets/images/icons8-edit-30.png);
}
h5{
    text-align: center;
    border-bottom: 1px solid black;
}